@import "tailwindcss";

html{
    overflow: hidden;
}

.big{
    transition: all 0.4s ease-in-out;
}

.gallery:has(.big:hover) .big {
    transform: scale(0.85);
    
}

.gallery:has(.big:hover) .big:hover {
    transform: scale(1.1);
}